In [18]:
import pandas as pd
import plotly.express as px

In [6]:
data = pd.read_csv("../data/clean_games.csv")

In [7]:
data.head()

,Unnamed: 0,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,competitorname,overallrank,overallscore,division,ordinal,rank,points
0,0,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,1,1,100
1,1,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,2,1,100
2,2,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,3,17,68
3,3,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,4,21,40
4,4,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,5,2,96

In [8]:
data.division.unique()

array(['Men', 'Women', 'Men (35-39)', 'Women (35-39)', 'Men (40-44)',
       'Women (40-44)', 'Men (45-49)', 'Women (45-49)', 'Men (50-54)',
       'Women (50-54)', 'Men (55-59)', 'Women (55-59)', 'Men (60+)',
       'Women (60+)'], dtype=object)

In [9]:
hola = pd.DataFrame(data.groupby(["division"])["gender"].value_counts())

In [10]:
hola.rename(columns={"gender":"count"}, inplace=True)

In [11]:
hola.head(30)

                      count
division      gender
Men           M        1728
Men (35-39)   M          80
Men (40-44)   M          80
Men (45-49)   M          80
Men (50-54)   M          80
Men (55-59)   M          63
Men (60+)     M          70
Women         F        1572
Women (35-39) F          80
Women (40-44) F          80
Women (45-49) F          80
Women (50-54) F          80
Women (55-59) F          70
Women (60+)   F          70

In [12]:
men = hola[hola["gender"]=="M"]
women = hola[hola["gender"]=="F"]

KeyError: 'gender'

In [13]:
def soniadice(x):
    ay = x.split(" ")
    #print(ay)
    if len(ay) > 1:
        return ay[1]
    else:
        return "(17-34)"

In [14]:
hola

                      count
division      gender
Men           M        1728
Men (35-39)   M          80
Men (40-44)   M          80
Men (45-49)   M          80
Men (50-54)   M          80
Men (55-59)   M          63
Men (60+)     M          70
Women         F        1572
Women (35-39) F          80
Women (40-44) F          80
Women (45-49) F          80
Women (50-54) F          80
Women (55-59) F          70
Women (60+)   F          70

In [15]:
hola["categorias"] = hola.division.apply(soniadice)

AttributeError: 'DataFrame' object has no attribute 'division'

In [16]:
hola.head()

                    count
division    gender
Men         M        1728
Men (35-39) M          80
Men (40-44) M          80
Men (45-49) M          80
Men (50-54) M          80

In [17]:
px.histogram(hola, x='categorias', y="count", color="gender", barmode='group')

NameError: name 'px' is not defined

In [38]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [16]:
hola.reset_index(inplace=True)

In [25]:
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns

In [28]:
sns.countplot(data, x='division',hue="gender")

ValueError: Could not interpret input 'gender'